.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 60, 145);
    color: white;
  }
  
   .list-item-1 {
    float: left;
    margin: 12px;
  }
  
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }
  
  /* li a:hover:not(.active) {
    background-color: #111;
  } */

  
  .active {
    background-color: rgb(60, 64, 66);
  }